<div class="well" style="margin-top:50px;">
<h1>Congratulations!!!</h1>
<h3>You now have a working copy of MentorBuddy</h3>
<p>Find me in app/views/static_pages/home.html.erb</p>
<%= link_to 'Go to Home', root_path, :class => 'btn btn-default' %>
